@import url(/assets/fonts/fonts.css);

/* ANCHOR Variables */

:root {
    --color-0: #AC92ED;
    --color-1: #1AB394;
    --color-2: #091734;
    --color-3: #ffffff;
    --color-4: #464646;
    --color-5: #FF5959;
    --color-6: #FF5252;
    --color-7: #1A6AB3;
    --color-8: #00AFDC;
    --color-9: #C3E14A;
    --color-10: #E6E6E6;
    --color-11: #FF0000;
    --color-12: #596783;
    --color-13: rgba(196, 196, 196, .1);

    --box-shadow-1: 10px 14px 84px rgba(0, 0, 0, 0.25);
    --box-shadow-2: 0px 14px 34px rgba(0, 0, 0, 0.15);
    --box-shadow-3: -10px 64px 114px rgba(26, 179, 148, 0.3);
    --box-shadow-4: -10px 64px 114px rgba(211, 211, 211, 0.3);
    
    --border-radius-1: 5px;
    --border-radius-2: 10px;

    --letter-spacing-1: 0.06em;
    --letter-spacing-2: 0.03em;
    --letter-spacing-3: 0.01em;
}

/* ANCHOR Specification */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--color-3);
}

address {
    font-style: normal;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-3);
}

h1 {
    font-weight: 700;
    font-size: 54px;
    color: var(--color-3);
}

h1.adminPanelTitle {
    font-size: 40px;
}

h2 {
    font-weight: 600;
    font-size: 36px;
    letter-spacing: var(--letter-spacing-3);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
} 

/*ANCHOR Flexbox элементы и контейнет*/

.container {
    max-width: 1230px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.dFlex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}
.aic {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.aifs {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.aife {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.ais {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
       -moz-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}
.jcsb {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.jcsa {
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
}
.jcc {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.fdc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.fww {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
/* ANCHOR -- ELEMENTS STYLE */
.bg-dark {
    background: var(--color-2);
}

.bg-white {
    background: var(--color-3)
}

.mobileElement {
    display: none;
}

/* 
ANCHOR Buttons style 
*/

.btn {
    letter-spacing: var(--letter-spacing-1);
    background: transparent;
    display: inline-block;
    border: 0;
    color: var(--color-3);
    cursor: pointer;
    font-size: 16px;
}

.button-lg {
    height: 83px;
}

.button-md {
    height: 71px;
}

.button-sm {
    height: 60px;
    letter-spacing: var(--letter-spacing-2);
    padding: 20px 40px;
    -webkit-border-radius: var(--border-radius-2);
       -moz-border-radius: var(--border-radius-2);
            border-radius: var(--border-radius-2);
}

.bg-green {    
    background: var(--color-1);
}

.btnFeedback {
    font-weight: 600;
    background: var(--color-2);
    padding: 25px 50px;-webkit-border-radius: var(--border-radius-1);-moz-border-radius: var(--border-radius-1);border-radius: var(--border-radius-1);
}

/* 
ANCHOR Input style
*/

.inputWrapper {
    padding: 26px;
    color: var(--color-4);
    background: var(--color-3);
    -webkit-border-radius: var(--border-radius-1);
       -moz-border-radius: var(--border-radius-1);
            border-radius: var(--border-radius-1);
}  

.inputWrapper label {
    font-size: 12px;
    font-weight: 500;
}

.inputWrapper input {
    border: 0;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8px;
    letter-spacing: var(--letter-spacing-3);
}

input:-internal-autofill-selected {
    background-color: #ffffff!important;
    color: var(--color-4)!important;
}

/* ANCHOR -- INCLUDE SECTION */
/* ANCHOR Top panel */

.topPanel {
    padding: 20px 0;
}

.logo {
    font-weight: 800;
    font-size: 27px;
}

ul.menu li a {
    font-weight: 600;
    font-size: 15px;
}

.topPanelButtons .btn {
    font-size: 16px;
    font-weight: 600;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.btnAuth {
    margin-right: 15px;
}

.btnReg {
    height: 48px;
    width: 169px;
    border: 1px solid;
    -webkit-border-radius: var(--border-radius-1);
       -moz-border-radius: var(--border-radius-1);
            border-radius: var(--border-radius-1);
}

.btnAuth .icon {
    margin-right: 10px;
    width: 38px;
    height: 38px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.menu {
    margin-right: 85px;
}

.menu li:not(:first-child) {
    margin-left: 40px;
}

/* 
ANCHOR Section feedback
*/

.feedbackBlock {
    max-width: 703px;
    width: 100%;
}

.feedback {
    padding: 80px 0;
    background: url(../img/feedback-bg.png) no-repeat 100% 55px;
}

.feedback .form {
    background: var(--color-3);
    padding: 10px 25px 15px 8px;
    -webkit-border-radius: var(--border-radius-1);
       -moz-border-radius: var(--border-radius-1);
            border-radius: var(--border-radius-1);
}

.feedback .title {
    margin-bottom: 20px;
}

.feedback  .desc {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.01em;
    margin-bottom: 32px;
}

.feedbackListItem p {
    font-size: 16px;
    line-height: 150%;  
    color: #9EE3D5;
}

.feedbackListItem p:not(:last-of-type) {
    margin-bottom: 15px;
}

.feedbackListItemTitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.feedbackListItem {
    width: 47%;
}

.feedbackList {
    padding-bottom: 35px;
}

/* 
ANCHOR Footer
*/
.footer {
    padding: 58px 0 50px;
}

.footer, 
.footerTop a {
    font-size: 13px;
    font-weight: 500;
    line-height: 150%;
}

.footerTop {
    margin-bottom: 42px;
}

.footerTopTitle {
    color: var(--color-12);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
}

.footerTopMenuList li:not(:last-child) {
    margin-bottom: 14px;
}

.footerTopMenuItem:not(:last-child) {
    width: 100%;
    margin-right: 62px;
}

.footerTopMenuItem:nth-child(1) {
    max-width: 209px;
}

.footerTopMenuItem:nth-child(2) {
    max-width: 181px;
}

.footerTopMenuItem:nth-child(3) {
    max-width: 170px;
}

.footerTopMenuItem:nth-child(4) {
    max-width: 178px;
}

.footerTopContacts {
    width: 100%;
    max-width: 240px;
}

a.footerTopPhone {
    font-weight: 600;
    font-size: 21px;
    line-height: 0.3em;
    margin-bottom: 26px;
    display: block;
}

a.footerTopMail {
    font-weight: 600;
    font-size: 18px;  
    color: var(--color-1);
    margin-bottom: 10px;
    display: block;
}

address.footerTopAddress {
    letter-spacing: var(--letter-spacing-2);
}

.footerBottom, 
.footerBottom a {
    color: var(--color-12);
    font-size: 13px;
    font-weight: 500;
}

.footerBottom a {
    text-decoration: underline;
}

.footerBottomDocs li:not(:last-child) {
    margin-right: 22px;
}

/* ANCHOR -- PAGES */
/* 
ANCHOR Page Main 
*/

.page-main {
    overflow: hidden;
}

.bg-image.header {
    background: url(../img/main-page-bg.png) no-repeat 0 0;
    position: relative;
    z-index: 1;
}

.mainWrapper .wrapper {
    padding: 73px 0 0 0;
}

.page-main .feedback {
    padding-top: 130px;
}


.topOffer {
    max-width: 640px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-right: 45px;
}

.topOffer p {
    display: inline-block;
    margin: 22px 0 30px;
}

.topOffer p img {
    margin-right: 10px;
}

.topOfferButtons .btn {
    padding: 0 42px;
    letter-spacing: var(--letter-spacing-2);
    font-size: 21px;
    font-weight: 600;
    -webkit-border-radius: var(--border-radius-2);
       -moz-border-radius: var(--border-radius-2);
            border-radius: var(--border-radius-2);
}
/* 
ANCHOR (Animation cart)
*/
.animateChat {
    padding: 0 30px;
    overflow: hidden;
    max-width: 465px;
    width: 100%;
    font-size: 12px;
    line-height: 160%;
    min-height: 360px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.animateChat .img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
         border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 17px;
    width: 44px;
    height: 44px;
}

.animateChatItemClient,
.animateChatItemPerformer {
    border: 1px solid;
    width: 328px;
    min-height: 89px;
    padding: 15px 30px;
    position: relative;
}

.animateChatItemClient {
    border-color: var(--color-3);
    -webkit-border-radius: 25px 25px 0 25px;
       -moz-border-radius: 25px 25px 0 25px;
            border-radius: 25px 25px 0 25px;
    
}

.animateChatItemAuthor {
    opacity: .5;
}

.animateChatItemPerformer {
    margin: 23px 0;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    border-color: var(--color-1);
    -webkit-border-radius: 25px 25px 25px 0;
       -moz-border-radius: 25px 25px 25px 0;
            border-radius: 25px 25px 25px 0;
}

.animateChatItemClient .img {
    left: -30px;
}

.animateChatItemPerformer .img {
    right: -25px;
}

.animateChatItemClientFirst {
    -webkit-animation-duration: 2s;
       -moz-animation-duration: 2s;
         -o-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: animateChatItemTop;
       -moz-animation-name: animateChatItemTop;
         -o-animation-name: animateChatItemTop;
            animation-name: animateChatItemTop;
}

.animateChatItemPerformer {
    -webkit-animation-duration: 3s;
       -moz-animation-duration: 3s;
         -o-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: animateChatItemCentre;
       -moz-animation-name: animateChatItemCentre;
         -o-animation-name: animateChatItemCentre;
            animation-name: animateChatItemCentre;
}

.animateChatItemClientLast {
    -webkit-animation-name: animateChatItemBottom;
       -moz-animation-name: animateChatItemBottom;
         -o-animation-name: animateChatItemBottom;
            animation-name: animateChatItemBottom;
    -webkit-animation-duration: 4s;
       -moz-animation-duration: 4s;
         -o-animation-duration: 4s;
            animation-duration: 4s;

}

@-webkit-keyframes animateChatItemTop {
    from {
        -webkit-transform: translate(0, 500px);
                -moz-transform: translate(0, 500px);
                  -o-transform: translate(0, 500px);
             transform: translate(0, 500px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@-moz-keyframes animateChatItemTop {
    from {
        -webkit-transform: translate(0, 500px);
                -moz-transform: translate(0, 500px);
                  -o-transform: translate(0, 500px);
             transform: translate(0, 500px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@-o-keyframes animateChatItemTop {
    from {
        -webkit-transform: translate(0, 500px);
                -moz-transform: translate(0, 500px);
                  -o-transform: translate(0, 500px);
             transform: translate(0, 500px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@keyframes animateChatItemTop {
    from {
        -webkit-transform: translate(0, 500px);
                -moz-transform: translate(0, 500px);
                  -o-transform: translate(0, 500px);
             transform: translate(0, 500px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@-webkit-keyframes animateChatItemCentre {
    from {
        -webkit-transform: translate(0,  2000px);
                -moz-transform: translate(0, 2000px);
                  -o-transform: translate(0, 2000px);
             transform: translate(0, 2000px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@-moz-keyframes animateChatItemCentre {
    from {
        -webkit-transform: translate(0,  2000px);
                -moz-transform: translate(0, 2000px);
                  -o-transform: translate(0, 2000px);
             transform: translate(0, 2000px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@-o-keyframes animateChatItemCentre {
    from {
        -webkit-transform: translate(0,  2000px);
                -moz-transform: translate(0, 2000px);
                  -o-transform: translate(0, 2000px);
             transform: translate(0, 2000px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@keyframes animateChatItemCentre {
    from {
        -webkit-transform: translate(0,  2000px);
                -moz-transform: translate(0, 2000px);
                  -o-transform: translate(0, 2000px);
             transform: translate(0, 2000px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@-webkit-keyframes animateChatItemBottom {
    from {
        -webkit-transform: translate(0, 3500px);
                -moz-transform: translate(0,3500px);
                  -o-transform: translate(0,3500px);
             transform: translate(0,3500px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@-moz-keyframes animateChatItemBottom {
    from {
        -webkit-transform: translate(0, 3500px);
                -moz-transform: translate(0,3500px);
                  -o-transform: translate(0,3500px);
             transform: translate(0,3500px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@-o-keyframes animateChatItemBottom {
    from {
        -webkit-transform: translate(0, 3500px);
                -moz-transform: translate(0,3500px);
                  -o-transform: translate(0,3500px);
             transform: translate(0,3500px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

@keyframes animateChatItemBottom {
    from {
        -webkit-transform: translate(0, 3500px);
                -moz-transform: translate(0,3500px);
                  -o-transform: translate(0,3500px);
             transform: translate(0,3500px);
    }
    to {
        -webkit-transform: translate(0, 0);
                -moz-transform: translate(0, 0);
                  -o-transform: translate(0, 0);
             transform: translate(0, 0);
    }
}

/* 
ANCHOR (Section-Tariff table)
*/

.tariffWraper {
    padding-top: 206px;
    background: url(../img/table-bg.png) no-repeat -100% 62%;
    position: relative;
    z-index: 0;
}

.tariff {
    position: relative;
    color: var(--color-4);
}

.tariffSidebar {
    max-width: 440px;
    width: 100%;
}

.tariff:before {
    position: absolute;
    content: '';
    display: block;
    top: -35px;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 115%;
    background: var(--color-3);
    -webkit-box-shadow: var(--box-shadow-1);
       -moz-box-shadow: var(--box-shadow-1);
            box-shadow: var(--box-shadow-1);
}

.tariff h3.tariffTitle {
    font-size: 24px;
    min-height: 54px;
}

.tariffSidebar h2.tariffTitle {
    margin-bottom: 22px;
}

.tariffDesc {
    min-height: 70px;
}

.tariffTable {
    font-size: 16px;
    margin-bottom: 37px;
}

.tariffColumn .tariffTableItem {
    font-size: 18px;
    padding-left: 0;
}

.tariffTableItem {
    padding: 0 23px;
    position: relative;
    min-height: 56px;
    font-weight: 500;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.btnPopup {
    -webkit-border-radius: var(--border-radius-2);
       -moz-border-radius: var(--border-radius-2);
            border-radius: var(--border-radius-2);
    font-weight: 600;
    font-size: 16px;
    padding: 25px 37px;
    letter-spacing: 0em;
}

.tariffSidebar .tariffTableItem:nth-child(odd):before {
    content: '';
    display: block;
    height: 100%;
    width: 100vw;
    background: var(--color-13);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

.tariffColumn {
    min-width: 370px;
    padding: 12px 0 0 55px;
}

.tariffColumn:last-child {
    padding-left: 25px;
}

/* 
ANCHOR (Section-Partners)
*/

.partners-section {
    padding: 103px 0 660px;
    color: var(--color-4);
}

.partners-section .titleSection {
    max-width: 425px;
    font-weight: 600;
}

.partners {
    margin-top: 35px;
    overflow: hidden;
    position: relative;
}

.partners .swiper-wrapper {
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.partners  .swiper-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* 
ANCHOR (Section-Services)
*/
.services-section {
    margin-top: -610px;
}

.services {
    padding-top: 140px;
    position: relative;
    z-index: 0;
}

.services:before {
    content: '';
    display: block;
    width: 100vw;
    height: 100%;
    top: 0;
    left: -40px;
    position: absolute;
    z-index: -1;
    background: var(--color-1) url(../img/services-bg.png) no-repeat 0 0;
    -webkit-box-shadow: var(--box-shadow-3);
       -moz-box-shadow: var(--box-shadow-3);
            box-shadow: var(--box-shadow-3);
}

.services .titleSection {
    font-size: 42px;
}

.servicesList {
    position: relative;
    margin-top: 30px;
    
}

.servicesList:before {
    content: '';
    height: 99%;
    width: 1000vh;
    border-top: 1px solid #53C1A9;
    display: block;
    border-bottom: 1px solid #53C1A9;
    position: absolute;
    left: -40px;
    top: 0;
}

.servicesListItem {
    padding: 42px 0 30px;
}

.servicesListItem:not(:last-child) {
    border-right: 1px solid #53C1A9;
    width: 50%;
}

.servicesListItem:not(:first-child) {
    padding-left: 30px;
}
  
.servicesListItemTitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.servicesListItemImg {
    margin-bottom: 8px;
    height: 25px;
}

.videosPopup {
    margin-top: 50px;
}

.videosPopup .video {
    position: relative;
    width: 49%;
    height: 350px;
}

.videosPopup .video .videoImg {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.videosPopup .videoWrap {
    position: absolute;
    bottom: 0;
    left: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.videosPopup .videoPlay {
    width: 83px;
    height: 83px;
    margin-right: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #fff;
}

.videosPopup h6.videoTitle {
    font-size: 20px;
}

/* 
ANCHOR (Section-Review)
*/

.review {
    padding: 70px 0 0;
    position: relative;
}

img.reviewImgBg {
    position: absolute;
    top: -225%;
    left: -21%;
    z-index: -1;
}

.reviewSlider {
    position: relative;
    padding-bottom: 113px;
}

.reviewSlider .swiper-pagination-bullet {
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.reviewSlider  .swiper-pagination-bullet:not(:first-child) {
    margin-left: 95px!important;
}

.reviewSlider .swiper-slide {
    font-weight: 500;
    padding-right: 150px;
    font-size: 24px;
    line-height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.reviewSlider  .swiper-pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
       -moz-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.review h2.titleSection {
    margin-bottom: 65px;
}

.review .quote {
    margin-right: 30px;
}

.reviewSlider .swiper-slide p {
    margin-top: -10px;
}

/* 
ANCHOR (Section-How work)
*/

.howWork {
    position: relative;
    color: var(--color-4);
    margin-top: 55px;
    padding-top: 40px;
}

.howWorkBg {
    position: absolute;
    left: -30%;
    top: -141%;
    z-index: -1;
}

.howWork .titleSection {
    margin-bottom: 25px;
    position: relative;
}

.howWork:before {
    background: var(--color-3);
    width: 100vw;
    height: 120%;
    left: -40px;
    top: 0;
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    -webkit-box-shadow: var(--box-shadow-4);
       -moz-box-shadow: var(--box-shadow-4);
            box-shadow: var(--box-shadow-4);
}

.howWorkList {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 27px;
}

.howWorkItem {
    padding-top: 43px;
    line-height: 23px;
    position: relative;
    width: 25%;
}

.howWorkItem:last-of-type {
    padding-left: 55px;
}

.howWorkItem:not(:last-child)::after {
    content: url(../img/howWorkArrow.png);
    position: absolute;
    top: 0;
    left: 45px;
}

.howWorkList .howWorkItem::before {
    content: ".0" counter(list-item) "";
    color: var(--color-1);
    position: absolute;
    top: 0;
}

.howWork .btn {
    padding: 17px 30px;
    position: relative;
    -webkit-border-radius: var(--border-radius-2);
       -moz-border-radius: var(--border-radius-2);
            border-radius: var(--border-radius-2);
}

/* 
ANCHOR Page 404 
*/

.page-404 .header {
    background: url(../img/404-bg.png) no-repeat 21% 0 ;
}

.wrapper-404 {
    padding: 85px 0 100px;
}

.wrapper-404 h1.title {
    margin-bottom: 38px;
}

.wrapper-404 .col:first-child {
    max-width: 425px;
    width: 100%;
    margin-right: 45px;
}


/* 
ANCHOR Page Product 
*/
.page-product .wrapper {
    padding-top: 58px;
}

.page-product .title {
    margin-bottom: 30px;
}

.page-product .topOfferButtons {
    margin-top: 35px;
}

.mainList li {
    position: relative;
    padding-left: 30px;
}

.mainList li:not(:last-child) {
    margin-bottom: 23px;
}

.mainList li:before {
    content: '';
    width: 24px;
    height: 15px;
    display: block;
    background: url(../img/icons/checked-table.svg) no-repeat 0 0 / contain;
    position: absolute;
    left: 0;
    z-index: 9999;
    top: 5px;
}



/* 
ANCHOR (Section-Table) 
*/

.productBoard {
    margin-top: 70px;
    color: var(--color-4);
    position: relative;
}

.productBoard:before {
    content: '';
    display: block;
    background: var(--color-3);
    width: 100vw;
    height: 100%;
    position: absolute;
    left: -75px;
}

.productBoardTopInfo,
.productBoardTopDocs {
    padding-top: 55px;
    position: relative;
}

.productBoardTop .titleSection {
    margin-bottom: 30px;
}

.productBoard .mainList li:before {
    width: 15px;
    height: 11px;
}

.productBoard  .mainList li {
    padding-left: 25px;
    line-height: 150%;
}

.productBoardTopInfo {
    width: 100%;
    padding-right: 75px;
}

.productBoardTopDocs {
    width: 50%;
    position: relative;
    padding-left: 75px;
}

.productBoardTopDocs:before {
    content: '';
    display: block;
    background: var(--color-1);
    opacity: .07;
    width: 100vw;
    height: 100%;
    top: 0;
    position: absolute;
    left: 15px;
}

.productBoardTopInfo .mainList li:not(:last-child) {
    margin-bottom: 15px;
}

.productBoardTopDocs a {
    color: var(--color-1);
    font-weight: 600;
    position: relative;
    text-decoration: underline;
    display: inline-block;
}

.productBoardTopDocs a:not(:last-of-type) {
    margin-bottom: 19px;
}